body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main {
    margin: 1rem;
    height: 70vh;
    width: 70vh;
    background-color: darkred;
    border-radius: 10px;
}

nav {
    display: flex;
}

.tab {
    list-style: none;
    text-align: center;
    padding: 1rem;
    background-color: red;
    flex: 1;
}

.text-content {
    display: none;
}

.active {
    display: block;
    color: white;
    background-color: darkred;
    z-index: 1;
    padding: 1rem;
}